
.login-button{
  outline: 1px solid rgba(255, 255, 255, 0.104);
  transition: 0.25s;
  border-radius: 50px;
  border: none;
  background: transparent;
  padding: 10px;

  color: white;
  display: inline-block;
  margin-bottom: 20px;
  width: 70px;
  transition: 0.2s;
}
/* .login-button:hover {
  animation: gradient 1s ease-in 1s;
  animation-fill-mode: forwards;

}

@keyframes gradient {
  100% {background-image: linear-gradient(to left, #815454, #996347, #9b7c36, #839b38, #3cb961);}
} */
.login-button:hover {
  /* cursor: pointer;
  outline: none;
  background-color: rgba(255, 255, 255, 0.104);
  color: white;
  font-weight: bold; */

}
.login-button:focus {
  cursor: pointer;
  outline: none;
  background-color: rgba(255, 255, 255, 0.104);
  color: white;
  font-weight: bold;
}

.login {
  margin-top: 10vh;
  display: inline-flex;
  flex-direction: row;
  width: 30vw;

  justify-content: space-evenly;
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
}

.login-form-button {

  border-radius: 10px;
  padding: 10px;
  border: none;
  color: white;
  font-weight: bolder;
  margin-top: 30px;
  background-image: linear-gradient(to left bottom, #264653, #225b68, #1c7079, #1b8786, #2a9d8f);  font-family: 'Nunito', sans-serif;

  transition: 0.25s;
}
.login-form-button:hover {
  cursor: pointer;
  outline: none;
  /* background: transparent; */
}